- var files = htmlWebpackPlugin.files
- var options = htmlWebpackPlugin.options
- var basename = options.basename
- var entryPath = options.publicPath+files.chunks[basename].entry

doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="robots" content="noindex, nofollow")
    title
  body
    pre #{JSON.stringify(htmlWebpackPlugin,null,4)}
    script(src=entryPath)
