@font-face {
  font-family: "Shadows Into Light";
  src: url(../fonts/tangerine.woff2) format('woff2');
}

body {
  border-style: solid;
  background: url(../img/image.png);
}

body pre {
  font-family: "Tangerine", serif;
}